

<div class="container">
    <div class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-0">
        <div class="row">
    
    
<%= render 'form' %>


<h1>ツイート一覧</h1>
        </div>
    
    <% @tweets.each do |tweet| %>
    <div class="row" id="content"> 
    <p>コンテンツ：<%= tweet.content %></p>
    
    <p>
    <%= link_to "ツイートを編集する", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-success' %></li>
    <%= link_to "ツイートを削除する", tweet_path(tweet), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-default btn-sm btn btn-danger' %>
    </p>
    </div>
    <% end %>
    </div>
    
    <div class="clear"></div>
    
    <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
    </div>
    
</div>




